<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Churn prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/helper.css') }}">
</head>
<body>

<div class="btn-container">


        <a href="/api-call-example">
            <div class="custom-button">
                Api example
            </div>
        </a>

        <a href="/dashboard-example">
            <div class="custom-button">
                Dashboard example
            </div>
        </a>

</div>

</body>
</html>